<div class="container-fluid px-5 py-5">
    <div class="row">
        <div class="col-sm-8">
            <h2>Discover best food and drinks</h2>
        </div>
        <div class="col-sm-4">
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="email-id">Email address</label>
                    <input type="email" name="email" class="form-control" id="email-id" placeholder="Enter email"
                        required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" name="password" class="form-control" id="pwd" placeholder="Password"
                        required>
                    <small>
                        <a href="">Forgot Password</a>
                    </small>
                </div>
                <button type="submit" class="btn c-btn-primary btn-block">Login</button>
                <p class="text-right">
                    <small>New User <a href="/signup" class="c-text-primary font-weight-bold">Create account</a></small>
                </p>
            </form>
        </div>
    </div>
</div>