<div class="px-5 py-3">
    <div class="restaurants-header border-bottom">

        <span class="font-weight-bold" style="font-size:1.5rem">12 Restaurants</span>
        <ul class="list-unstyled restaurants-filters mb-0 d-inline-flex">
            <li class="list-group-item border-0 mb-0">
                <a href="">Deivery Time</a>
            </li>
            <li class="list-group-item border-0 mb-0">
                <a href="">Rating</a>
            </li>
            <li class="list-group-item border-0 mb-0">
                <a href="">Filters</a>
            </li>
        </ul>
    </div>
    <div class="restaurants-list my-4">
        <div class="restaurant-card border p-2 ">
            <figure>
                <img src="/img/domino.jpeg" alt="Image">
            </figure>
            <ul class="about-restaurant list-unstyled  mb-0">
                <li class="r-name font-weight-bold">Domino</li>
                <li class="ratings">
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i> &nbsp;
                    <span class="ratings-count">5.0</span>
                </li>
                <li class="r-tags mt-1 text-secondary">Pizzas, Burgers</li>
                <ul class="r-others mt-1 list-unstyled text-secondary">
                    <li><i class="fa fa-clock-o"></i>&nbsp;32 Mins</li>
                    <li><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;150 for two</li>
                </ul>
            </ul>
        </div>

         <div class="restaurant-card border p-2 ">
            <figure>
                <img src="/img/domino.jpeg" alt="Image">
            </figure>
            <ul class="about-restaurant list-unstyled  mb-0">
                <li class="r-name font-weight-bold">Domino</li>
                <li class="ratings">
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i> &nbsp;
                    <span class="ratings-count">5.0</span>
                </li>
                <li class="r-tags mt-1 text-secondary">Pizzas, Burgers</li>
                <ul class="r-others mt-1 list-unstyled text-secondary">
                    <li><i class="fa fa-clock-o"></i>&nbsp;32 Mins</li>
                    <li><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;150 for two</li>
                </ul>
            </ul>
        </div>

         <div class="restaurant-card border p-2 ">
            <figure>
                <img src="/img/domino.jpeg" alt="Image">
            </figure>
            <ul class="about-restaurant list-unstyled  mb-0">
                <li class="r-name font-weight-bold">Domino</li>
                <li class="ratings">
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i> &nbsp;
                    <span class="ratings-count">5.0</span>
                </li>
                <li class="r-tags mt-1 text-secondary">Pizzas, Burgers</li>
                <ul class="r-others mt-1 list-unstyled text-secondary">
                    <li><i class="fa fa-clock-o"></i>&nbsp;32 Mins</li>
                    <li><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;150 for two</li>
                </ul>
            </ul>
        </div>

         <div class="restaurant-card border p-2 ">
            <figure>
                <img src="/img/domino.jpeg" alt="Image">
            </figure>
            <ul class="about-restaurant list-unstyled  mb-0">
                <li class="r-name font-weight-bold">Domino</li>
                <li class="ratings">
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i> &nbsp;
                    <span class="ratings-count">5.0</span>
                </li>
                <li class="r-tags mt-1 text-secondary">Pizzas, Burgers</li>
                <ul class="r-others mt-1 list-unstyled text-secondary">
                    <li><i class="fa fa-clock-o"></i>&nbsp;32 Mins</li>
                    <li><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;150 for two</li>
                </ul>
            </ul>
        </div>

         <div class="restaurant-card border p-2 ">
            <figure>
                <img src="/img/domino.jpeg" alt="Image">
            </figure>
            <ul class="about-restaurant list-unstyled  mb-0">
                <li class="r-name font-weight-bold">Domino</li>
                <li class="ratings">
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i> &nbsp;
                    <span class="ratings-count">5.0</span>
                </li>
                <li class="r-tags mt-1 text-secondary">Pizzas, Burgers</li>
                <ul class="r-others mt-1 list-unstyled text-secondary">
                    <li><i class="fa fa-clock-o"></i>&nbsp;32 Mins</li>
                    <li><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;150 for two</li>
                </ul>
            </ul>
        </div>

         <div class="restaurant-card border p-2 ">
            <figure>
                <img src="/img/domino.jpeg" alt="Image">
            </figure>
            <ul class="about-restaurant list-unstyled  mb-0">
                <li class="r-name font-weight-bold">Domino</li>
                <li class="ratings">
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i>
                    <i class="fa fa-star c-text-primary"></i> &nbsp;
                    <span class="ratings-count">5.0</span>
                </li>
                <li class="r-tags mt-1 text-secondary">Pizzas, Burgers</li>
                <ul class="r-others mt-1 list-unstyled text-secondary">
                    <li><i class="fa fa-clock-o"></i>&nbsp;32 Mins</li>
                    <li><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;150 for two</li>
                </ul>
            </ul>
        </div>
    </div>
</div>